@model IEnumerable<WebsiteAssignmentNew.Models.Shop>

@{
    ViewBag.Title = "Index";
}

<div class="fade">
    <h2 id="pageTitle">Shop</h2>

    <div id="forloop">
        @foreach (var Shop in Model)
        {
            using (Html.BeginForm("AddMerchandise", "Cart", FormMethod.Post))
            {
                <div class="fade">
                    <div id="cardDeck" class="card-deck">
                        <div class="col-md-4">
                            <div class="card">
                                <img id="img" class="card-img-top" src="~/Content/Shop/@Shop.ItemImage" alt="Track Image">
                                <div class="card-block">
                                    <h4 class="card-title">@Shop.Item</h4>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> </small>
                                    <input type="text" name="ItemCode" value=@Shop.ItemCode hidden />
                                    <h4>Quantity: @Html.DropDownList("quantity", new SelectList((List<int>)ViewBag.Quantity))</h4>

                                   
                                    <input type="button" class="btn btn-block" data-toggle="tooltip" data-placement="top" value="Currently Out of Stock"   />
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>