@model IEnumerable<WebsiteAssignmentNew.Models.Artist>
@{
    ViewBag.Title = "Index";
}

<h2 id="pageTitle">Artist</h2>


    @foreach (var Artist in Model)
    {
        <div class="fade">
            <div id="artistForEach">
                <div id="artistBKColor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img id="artistImg" width="500"  src="~/Content/ArtistImg/@Artist.ArtistImg" />
                                <h4 id="artistName">@Html.ActionLink(@Artist.ArtistName, "Index", "Tracks")</h4>
                            </div>
                            <div class="col-md-6">

                                <h4>Releases by this Artist</h4>
                                    <p>@Artist.Title</p>
                                <br />
                                <h4>About this artist</h4>
                                <p>Vestibulum auctor lacinia mauris et mattis. Pellentesque accumsan orci lobortis, finibus sem quis, convallis elit. Aliquam suscipit lorem odio, a imperdiet augue sagittis a. Curabitur auctor bibendum ipsum id malesuada. Sed sagittis dapibus nisl at tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. In nisl sem, egestas facilisis laoreet ut, viverra id tortor. Aliquam imperdiet ullamcorper nibh convallis pulvinar.</p>

                                 
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            }
